{% load static %}

<style>
  @font-face {
    font-family: 'B-Nazanin';
    src: local('B-Nazanin'),
         url('{% static 'main/fonts/BNazanin.ttf' %} ');
  }
</style>

<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- W3 CSS -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<body data-spy="scroll" data-target=".navbar" data-offset="0" style="font-family: B-Nazanin; font-size: 110%;">

{% if res_data.error %}
	<div class="alert alert-danger">
  		<strong>Admin Error: </strong>{{ res_data.error }}
	</div>
{% endif %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top rtl">
  <a class="navbar-brand text-primary" href="#">Logo</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-2">
      <a class="nav-link" href="#section1"><i class="fas fa-newspaper"></i>  تازه ها</a> 
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#section2"><i class="fas fa-car-side"></i>  دسته بندی</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#section3"><i class="fas fa-car"></i>  جدیدترین محصولات</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#section4"><i class="fas fa-users"></i>  تیم ما</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#section5"><i class="fas fa-phone"></i> ارتباط با ما</a>
    </li>
  	<button class="btn btn-outline-success mx-2 h-50" type="button" data-toggle="modal" data-target="#myModal">ورود</button>
  </ul>
  <form class="form-inline my-2" action="">
    <input class="form-control h-50" type="text" placeholder="جست و جو ...">
    <button class="btn btn-primary mr-2 h-50" type="submit"><i class="fas fa-search"></i></button>
  </form>
</nav>


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">پرتال مشتریان</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="">
					{% csrf_token %}
					<div class="form-group rtl">
						<input type="text" class="form-control" name="username" placeholder="نام کاربری" required="required">		
					</div>
					<div class="form-group rtl">
						<input type="password" class="form-control" name="password" placeholder="رمز عبور" required="required">	
					</div>        
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">ورود</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>   

<div id="section1" class="container-fluid bg-dark">
<div id="demo" class="carousel slide pt-10" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
  {% if res_data.latest_news %}
  	{% for news in res_data.latest_news %}
		{% if forloop.first %}
		<div class="carousel-item active">
		{% else %}

		<div class="carousel-item">
		{% endif %}
			<img src="../{{ news.background_image }}" class="img-fluid mask rgba-black-strong" alt="Los Angeles">
			<div class="carousel-caption">
				<h3 class="text-primary">{{ news.title }}</h3>
				<p>{{ news.summary }}</p>
			</div>
		</div>
	{% endfor %}
  {% endif %}
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
</div>
<div id="section2" class="container-fluid bg-white mh-100" style="padding-top:70px;padding-bottom:100px">
  <!-- Nav tabs -->
  <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
  <h5>دسته بندی</h5>
  </br></br>
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">مدل بدنه</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu2">برند</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="menu1" class="container tab-pane fade"><br>
      <div class="row">
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
			<a href="">
			  <img src="{% static 'main/images/body/Sedan.jpg' %}" class="img-fluid" alt="Sedan"></br>
			  <div class="d-flex justify-content-center">sedan</div>
			</a>
		  </div>
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
			<a href="">
			  <img src="{% static 'main/images/body/SUV.jpg' %}" class="img-fluid" alt="SUV"></br>
			  <div class="d-flex justify-content-center">SUV</div>
			</a>
		  </div>
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
			<a href="">
			  <img src="{% static 'main/images/body/Hatchback.jpg' %}" class="img-fluid" alt="Hatchback"></br>
			  <div class="d-flex justify-content-center">Hatchback</div>
			</a>
		  </div>
	  </div>
      <div class="row">
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
			<a href="">
			  <img src="{% static 'main/images/body/Coupe.jpg' %}" class="img-fluid" alt="Coupe"></br>
			  <div class="d-flex justify-content-center">Coupe</div>
			</a>
		  </div>
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
			<a href="">
			  <img src="{% static 'main/images/body/Convertible.jpg' %}" class="img-fluid" alt="Convertible"></br>
			  <div class="d-flex justify-content-center">Convertible</div>
			</a>
		  </div>
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
			<a href="">
			  <img src="{% static 'main/images/body/Minivan.jpg' %}" class="img-fluid" alt="Minivan"></br>
			  <div class="d-flex justify-content-center">Minivan</div>
			</a>
		  </div>
	  </div>
	  </br>
      <div class="row">
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 110px;">
			<a href="">
			  <img src="{% static 'main/images/body/Van.jpg' %}" class="img-fluid" alt="Van"></br>
			  <div class="d-flex justify-content-center">Minivan</div>
			</a>
		  </div>
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 110px;">
			<a href="">
			  <img src="{% static 'main/images/body/Off-road.jpg' %}" class="img-fluid" alt="Off-road"></br>
			  <div class="d-flex justify-content-center">Off-road</div>
			</a>
		  </div>
		  <div class="col-sm-4 d-flex justify-content-center" style="height: 110px;">
			<a href="">
			  <img src="{% static 'main/images/body/Roadster.jpg' %}" class="img-fluid" alt="Roadster"></br>
			  <div class="d-flex justify-content-center">Roadster</div>
			</a>
		  </div>
	</div>
    <div class="row">
	  <div class="col-sm-4 d-flex justify-content-center" style="height: 110px;">
		<a href="">
		  <img src="{% static 'main/images/body/Truck.jpg' %}" class="img-fluid" alt="Turck"></br>
		  <div class="d-flex justify-content-center">Truck</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center" style="height: 110px;">
		<a href="">
		  <img src="{% static 'main/images/body/Limousine.jpg' %}" class="img-fluid" alt="Limousine"></br>
		  <div class="d-flex justify-content-center">Limousine</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center" style="height: 110px;">
	  </div>
    </div>
	</div>
    
	<div id="menu2" class="container tab-pane active"><br>
   
    <div class="row">
	  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/BMW.jpg' %}" class="img-fluid" alt="BMW" style="height: 90px;"></br>
		  <div class="d-flex justify-content-center pt-2">BMW</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Mercedes-Benz.jpg' %}" class="img-fluid pl-3" alt="Mercedes-Benz" style="height: 90px;"></br>
		  <div class="d-flex justify-content-center pt-2">Mercedes-Benz</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Volkswagen.jpg' %}" class="img-fluid" alt="Volkswagen" style="height: 100px;"></br>
		  <div class="d-flex justify-content-center">Volkswagen</div>
		</a>
	  </div>
    </div>
	</br>
	</br>
    <div class="row">
	  <div class="col-sm-4 d-flex justify-content-center pt-4" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Jeep.jpg' %}" class="img-fluid" alt="Jeep" style="height: 60px;"></br>
		  <div class="d-flex justify-content-center pt-4">Jeep</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center pt-4" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Mazda.jpg' %}" class="img-fluid" alt="Mazda" style="height: 70px;"></br>
		  <div class="d-flex justify-content-center pt-3">Mazda</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center pt-3" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Bentley.jpg' %}" class="img-fluid" alt="Bentley"></br>
		  <div class="d-flex justify-content-center pt-2">Bentley</div>
		</a>
	  </div>
    </div>
	</br>
	</br>
   <div class="row pt-2">
	  <div class="col-sm-4 d-flex justify-content-center pt-2" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Toyota.jpg' %}" class="img-fluid" alt="Toyota" style="height: 90px;"></br>
		  <div class="d-flex justify-content-center pt-1">Toyota</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center pt-1" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Lexus.jpg' %}" class="img-fluid" alt="Lexus" style="height: 100px;"></br>
		  <div class="d-flex justify-content-center">Lexus</div>
		</a>
	  </div>
	  <div class="col-sm-4 d-flex justify-content-center pt-4" style="height: 100px;">
		<a href="">
		  <img src="{% static 'main/images/brand/Range-Rover.jpg' %}" class="img-fluid" alt="Range-Rover"></br>
		  <div class="d-flex justify-content-center pt-3">Range-Rover</div>
		</a>
	  </div>
    </div>

	
	
	</div>
  </div>
  </div>
  <div class="col-sm-3"></div>
  </div>

</div>

<div id="section3" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
{% if res_data.latest_cars %}
<div class="container section3">
	<div class="row">
		<div class="col-md-12">
			<h5>جدیدترین محصولات</h5>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>   
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
						{% for car in res_data.latest_cars|slice:":4" %}
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../{{ car.main_image }} " class="img-responsive img-fluid border border-light">						
								</div>
								<div class="thumb-content">
									<h4>{{ car.name}}</h4>									
									<div>
										<ul class="list-inline">
											<li class="list-inline-item"><span class="badge badge-info">{{ car.car_type }}</span></li>
											<li class="list-inline-item"><span class="badge badge-danger">{{ car.ordered_by }}</span></li>
											<li class="list-inline-item"><span class="badge badge-success">{{ car.product_year }}</span></li>
										</ul>
									</div>
									<p class="item-price"><b>{{ car.price }}$</b> :قیمت</p>
									<a href="#" class="btn btn-primary">بررسی جزئیات</a>
								</div>						
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						{% for car in res_data.latest_cars|slice:"4:8" %}
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../{{ car.main_image }} " class="img-responsive img-fluid border">						
								</div>
								<div class="thumb-content">
									<h4>{{ car.name}}</h4>									
									<div>
										<ul class="list-inline">
											<li class="list-inline-item"><span class="badge badge-info">{{ car.car_type }}</span></li>
											<li class="list-inline-item"><span class="badge badge-danger">{{ car.ordered_by }}</span></li>
											<li class="list-inline-item"><span class="badge badge-success">{{ car.product_year }}</span></li>
										</ul>
									</div>
									<p class="item-price"><b>{{ car.price }} $</b></p>
									<a href="#" class="btn btn-primary">بررسی جزئیات</a>
								</div>						
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						{% for car in res_data.latest_cars|slice:"8:12" %}
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../{{ car.main_image }} " class="img-responsive img-fluid border">						
								</div>
								<div class="thumb-content">
									<h4>{{ car.name}}</h4>									
									<div>
										<ul class="list-inline">
											<li class="list-inline-item"><span class="badge badge-info">{{ car.car_type }}</span></li>
											<li class="list-inline-item"><span class="badge badge-danger">{{ car.ordered_by }}</span></li>
											<li class="list-inline-item"><span class="badge badge-success">{{ car.product_year }}</span></li>
										</ul>
									</div>
									<p class="item-price"><b>{{ car.price }} $</b></p>
									<a href="#" class="btn btn-primary">بررسی جزئیات</a>
								</div>						
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>
{% endif %}
</div>

<div id="section4" class="container-fluid bg-white">
  <div class="w3-container w3-padding-64 w3-center" id="team">
  <h5>تیم ما</h5>
  </br>
  <div class="w3-row"><br>

	<div class="w3-quarter">
	  <img src="{% static 'main/images/person/person1.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
	  <h3>Johnny Walker</h3>
	  <p>Web Designer</p>
	</div>

	<div class="w3-quarter">
	  <img src="{% static 'main/images/person/person1.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
	  <h3>Rebecca Flex</h3>
	  <p>Support</p>
	</div>

	<div class="w3-quarter">
	  <img src="{% static 'main/images/person/person1.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
	  <h3>Jan Ringo</h3>
	  <p>Boss man</p>
	</div>

	<div class="w3-quarter">
	  <img src="{% static 'main/images/person/person1.jpg' %}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
	  <h3>Kai Ringo</h3>
	  <p>Fixer</p>
	</div>

  </div>
  </div>
</div>

<div id="section5" class="container-fluid bg-dark text-muted">
  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h5 class="w3-center w3-text-light-grey">ارتباط با ما</h5>
	  </br>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
      <div class="w3-col m6 rtl">
        <form action="" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="نام و نام خانوادگی" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="ایمیل" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="متن" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">ارسال</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>
<footer class="w3-container w3-center py-20 w3-text-light-grey">
		</br>
        <i class="fa fa-facebook-official w3-hover-opacity w3-xlarge"></i>
        <i class="fa fa-instagram w3-hover-opacity w3-xlarge"></i>
        <i class="fa fa-snapchat w3-hover-opacity w3-xlarge"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity w3-xlarge"></i>
        <i class="fa fa-twitter w3-hover-opacity w3-xlarge"></i>
        <i class="fa fa-linkedin w3-hover-opacity w3-xlarge"></i>
		</br>
		</br>
</footer>
{% comment %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
	<li><a href="{% url 'main:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endcomment %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="{% static 'main/js/main.js' %}"></script>
