
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.carousel-item .img-fluid {
  width:100%;
  height:90%;
}
.carousel-caption {
	background: rgba(46, 51, 56, 0.75)!important;
}
h5 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h5::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.section3 .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.section3 .carousel .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}
.section3 .carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.section3 .carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.section3 .carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.section3 .carousel .item h4 {
	font-size: 18px;
}
.section3 .carousel .item h4, .section3 .carousel .item p, .section3 .carousel .item ul {
	margin-bottom: 5px;
}
.section3 .carousel .thumb-content .btn {
	color: #0275d8;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.section3 .carousel .thumb-content .btn:hover, .section3 .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.section3 .carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.section3 .carousel .carousel-control {
	height: 44px;
	width: 40px;
	background: #7ac400;	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.section3 .carousel .carousel-control:hover {
	background: #78bf00;
	opacity: 1;
}
.section3 .carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.section3 .carousel .item-price {
	font-size: 14px;
	padding: 2px 0;
}
.section3 .carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.section3 .carousel .carousel-control.left i {
	margin-left: -2px;
}
.section3 .carousel .carousel-control.right i {
	margin-right: -4px;
}
.section3 .carousel .carousel-indicators {
	bottom: -50px;
}
.section3 .carousel-indicators li, .section3 .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.section3 .carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.section3 .carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.section3 .carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.section3 .carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.section3 .star-rating li {
	padding: 0;
}
.section3 .star-rating i {
	font-size: 14px;
	color: #ffc000;
}

footer {
	background-color: black;
}

/****** LOGIN MODAL ******/
	.modal-login {		
		color: #636363;
		width: 350px;
	}
	.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;   
        position: relative;
        justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	.modal-login .form-control:focus {
		border-color: #70c5c0;
	}
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-login .modal-footer {
		background: #ecf0f1;
		border-color: #dee4e7;
		text-align: center;
        justify-content: center;
		margin: 0 -20px -20px;
		border-radius: 5px;
		font-size: 13px;
	}
	.modal-login .modal-footer a {
		color: #999;
	}		
	.modal-login.modal-dialog {
		margin-top: 80px;
	}
    .modal-login .btn {
        color: #fff;
        border-radius: 4px;
		background: #507cc0;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-login .btn:hover, .modal-login .btn:focus {
	    opacity: 0.9;
		outline: none;
	}
